<link href="{echo $app['base_url']}/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/styles/layout.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/styles/default.min.css" rel="stylesheet" type="text/css"/>
<link href="{echo $app['base_url']}/styles/custom.min.css" rel="stylesheet" type="text/css" />