<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Check Blacklist Status For IPs / Domains</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="domains-form" action="{echo $app['base_url']}/tools/blacklist.html" class="horizontal-form" method="POST">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label full-width">
                                    Search Type
                                    <a class="pull-right tooltips bs-deselect-all" data-container="body" data-placement="top" data-original-title="Clear Selections"  href="javascript:;" style="margin-left: 15px;margin-right: 5px;color :#525e64;"><i class="fa fa-remove"></i></a>
                                </label>
                                <select id="type" name="type" class="form-control bs-select" data-required="true" data-validation-message="Search Type are Required !" title="Select an Search Type ..." data-live-search="true"> 
                                    <option value="ips" selected>Ips</option>
                                    <option value="domains">Domains</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Domains / Ips List</label>
                                    <textarea name="text" data-required="true" data-validation-message="Domains / Ips List are Required !" class="form-control" style="height: 315px!important"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Results :</label>
                            <div class="form-control" style="height: 380px !important;background: #eee;color: #fff;font-family: monospace;overflow-y: scroll">{echo $results}</div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button type="submit" class="btn btn-outline dark submit-loading"><i class="fa fa-exchange"></i> Check</button>
                </div>
            </div>
        </form>
    </div>
</div>