<div class="page-content-inner">
    <div class="row">
        <div class="col-md-4">
            <div class="row widget-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue-chambray">
                                    <span data-counter="counterup" data-value="{echo $servers}">{echo $servers}</span>
                                </h3>
                                <small>Active Servers</small>
                            </div>
                            <div class="icon">
                                <i class="font-blue-chambray icon-globe"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue-ebonyclay">
                                    <span data-counter="counterup" data-value="{echo $ips}">{echo $ips}</span>
                                </h3>
                                <small>Active IPs</small>
                            </div>
                            <div class="icon">
                                <i class="font-blue-ebonyclay icon-list"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row widget-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-purple-studio">
                                    <span data-counter="counterup" data-value="{echo $affiliateNetworks}">{echo $affiliateNetworks}</span>
                                </h3>
                                <small>Active Affiliate Networks</small>
                            </div>
                            <div class="icon">
                                <i class="font-purple-studio icon-briefcase"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-purple-intense">
                                    <span data-counter="counterup" data-value="{echo $offers}">{echo $offers}</span>
                                </h3>
                                <small>Active Offers</small>
                            </div>
                            <div class="icon">
                                <i class="font-purple-intense icon-basket-loaded"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row widget-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-sharp">
                                    <span data-counter="counterup" data-value="{echo $tests}">{echo $tests}</span>
                                </h3>
                                <small>Daily Tests</small>
                            </div>
                            <div class="icon">
                                <i class="font-green-sharp icon-puzzle"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-steel">
                                    <span data-counter="counterup" data-value="{echo $drops}">{echo $drops}</span>
                                </h3>
                                <small>Daily Drops</small>
                            </div>
                            <div class="icon">
                                <i class="font-green-steel icon-envelope"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row widget-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green-dark">
                                    <span data-counter="counterup" data-value="{echo $sent}">{echo $sent}</span>
                                </h3>
                                <small>Daily Sent</small>
                            </div>
                            <div class="icon">
                                <i class="font-green-dark icon-paper-plane"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue-madison">
                                    <span data-counter="counterup" data-value="{echo $delivered}">{echo $delivered}</span>
                                </h3>
                                <small>Daily Delivered</small>
                            </div>
                            <div class="icon">
                                <i class="font-blue-madison icon-share-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row widget-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-red">
                                    <span data-counter="counterup" data-value="{echo $bounced}">{echo $bounced}</span>
                                </h3>
                                <small>Daily Hard Bounced</small>
                            </div>
                            <div class="icon">
                                <i class="font-red icon-dislike"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-blue">
                                    <span data-counter="counterup" data-value="{echo $clicks}">{echo $clicks}</span>
                                </h3>
                                <small>Monthly Clicks</small>
                            </div>
                            <div class="icon">
                                <i class="font-blue icon-link"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row widget-row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-purple">
                                    <span data-counter="counterup" data-value="{echo $conversions}">{echo $conversions}</span>
                                </h3>
                                <small>Monthly Leads</small>
                            </div>
                            <div class="icon">
                                <i class="font-purple icon-handbag"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="dashboard-stat2 ">
                        <div class="display">
                            <div class="number">
                                <h3 class="font-green">
                                    <span data-counter="counterup" data-value="{echo $earnings}">{echo $earnings}</span>
                                </h3>
                                <small>Monthly Earnings (USD)</small>
                            </div>
                            <div class="icon">
                                <i class="font-green icon-wallet"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit " style="border: 1px solid #aaa;">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-dark"></i>
                                <span class="caption-subject font-dark">Delivery / Bounced For This Month</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="sent-stats-chart" style="height:243px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit " style="border: 1px solid #aaa;">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-dark"></i>
                                <span class="caption-subject font-dark">Opens / Clicks / Leads / Unsubs For This Month</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="actions-stats-chart" style="height:243px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="portlet light portlet-fit " style="border: 1px solid #aaa;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-dark"></i>
                        <span class="caption-subject font-dark">Earnings For This Month</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="daily-earnings-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light portlet-fit " style="border: 1px solid #aaa;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-dark"></i>
                        <span class="caption-subject font-dark">Earnings For This Year {echo date('Y')}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div id="monthly-earnings-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>