<link href="{echo $app['base_url']}/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/plugins/fontawesome5/css/all.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
<link href="{echo $app['base_url']}/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
<link href="{echo $app['base_url']}/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/plugins/widearea/widearea.css" rel="stylesheet" type="text/css" />
<link href="{echo $app['base_url']}/styles/components.min.css" rel="stylesheet" type="text/css"/>
<link href="{echo $app['base_url']}/styles/plugins.min.css" rel="stylesheet" type="text/css" />