<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Add New Linode Account</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="linode-accounts-form" action="{echo $app['base_url']}/linode-accounts/save.html" class="horizontal-form validate" method="POST">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Linode Account Name</label>
                            <input type="text" name="linode-name" class="form-control" data-required="true" data-validation-message="Linode Account Name is Required !" placeholder="Enter Linode Account Name">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Account Status</label>
                            <select class="form-control bs-select" title="Select a Status ..." name="linode-status">
                                <option value="Activated" selected >Activated</option>
                                <option value="Inactivated">Inactivated</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Linode Token</label>
                            <input type="text" name="linode-token" class="form-control" data-required="true" data-validation-message="Linode Token is Required !" placeholder="Enter Linode Token">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Linode Proxy IP</label>
                            <input type="text" name="linode-proxy-ip" class="form-control" placeholder="Enter Linode Proxy IP (Optional)">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Linode Proxy Port</label>
                            <input type="text" name="linode-proxy-port" class="form-control input-number" placeholder="Enter Linode Proxy Port (Optional)">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Linode Proxy Username</label>
                            <input type="text" name="linode-proxy-username" class="form-control" placeholder="Enter Linode Username (Optional)">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Linode Proxy Password</label>
                            <input type="text" name="linode-proxy-password" class="form-control" placeholder="Enter Linode Password (Optional)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <a href="javascript:;" class="btn btn-outline dark check-before-submit data-validate" data-columns="name" data-input-ids="linode-name" data-model="LinodeAccount" data-row-id="0" data-package="Admin"><i class="fa fa-check"></i> Save</a>
            </div>
        </form>
    </div>
</div>