<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Create Scaleway Instances</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="scaleway-accounts-form" action="#" class="horizontal-form validate" method="POST">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Scaleway Accounts</label>
                            <select id="scaleway-accounts" class="form-control bs-select" data-live-search="true"> 
                                {if(isset($accounts) && count($accounts)>0)}
                                    {foreach $row in $accounts}
                                        <option value="{echo $row['id']}">{echo $row['name']}</option>
                                    {/foreach}
                                {/if}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Nb Of Instances</label>
                            <input id="scaleway-nb-of-instances" type="text" class="form-control input-number" value="1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Location</label>
                            <select id="scaleway-region" class="form-control bs-select" title="Select a Location ..." data-live-search="true">
                                <option value="fr-par-1">PARIS 1</option>
                                <option value="nl-ams-1">AMSTERDAM 1</option>
                                
                            </select>
                        </div> 
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label full-width">
                                DNS Account
                                <a class="pull-right tooltips bs-deselect-all" data-container="body" data-placement="top" data-original-title="Clear Selections"  href="javascript:;" style="margin-left: 15px;margin-right: 5px;color :#525e64;"><i class="fa fa-remove"></i></a>
                            </label>
                            <select id="accounts" class="form-control bs-select" title="Select Account ..." name="account-id" data-live-search="true" data-required="true" data-validation-message="Account is Required !">
                                <option value="none|0">None</option>
                                {if(isset($dnsaccounts) && count($dnsaccounts))} 
                                    {foreach $account in $dnsaccounts} 
                                        <option value="{echo $account['type']}|{echo $account['id'] }">{echo ucwords($account['type']) . ' : ' . $account['name']}</option>
                                    {/foreach}
                                {/if}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label full-width">
                                Domains
                                <a class="pull-right tooltips bs-search-all" data-container="body" data-placement="top" data-original-title="Multi Search Selections"  href="javascript:;" style="margin-left: 15px;margin-right: 5px;color :#525e64;"><i class="fa fa-search"></i></a>
                            </label>
                            <select id="scaleway-domains" class="form-control bs-select" data-live-search="true" data-actions-box="true" data-live-search="true" multiple> 
                                 
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Instance Type</label>
                            <select id="scaleway-size" class="form-control bs-select" title="Select a Type ...">
                                <option value="GP1-XS">GP1-XS ( 4 X86 64bit Cores , 150GB SSD Disk )</option>
                                <option value="GP1-S">GP1-S ( 8 X86 64bit Cores , 300GB SSD Disk )</option>
                                <option value="GP1-M">GP1-M ( 16 X86 64bit Cores , 600GB SSD Disk )</option>
                                <option value="GP1-L">GP1-L ( 32 X86 64bit Cores , 600GB SSD Disk )</option>
                                <option value="GP1-XL">GP1-XL ( 48 X86 64bit Cores , 600GB SSD Disk )</option>
                                <option value="DEV1-S" selected>DEV1-S ( 2 X86 64bit Cores , 20GB SSD Disk )</option>
                                <option value="DEV1-M">DEV1-M ( 3 X86 64bit Cores , 40GB SSD Disk )</option>
                                <option value="DEV1-L">DEV1-L ( 4 X86 64bit Cores , 80GB SSD Disk )</option>
                                <option value="DEV1-XL">DEV1-XL ( 4 X86 64bit Cores , 120GB SSD Disk )</option>
                                <option value="RENDER-S">RENDER-S CPU( 10 X86 64bit Cores , 1 GPUs ,400GB SSD Disk )</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <a href="javascript:;" class="btn btn-outline dark create-scaleway-instances"><i class="fa fa-plus"></i> Create Instances</a>
            </div>
        </form>
    </div>
</div>
<div class="portlet light portlet-fit portlet-datatable bordered  ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Scaleway Instances Creation Processes List</span>
        </div>
        <div class="actions">
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">
            <div class="table-actions-wrapper">
                <button class="btn btn-outline btn-sm red stop-process"><i class="fa fa-stop"></i> Stop Process</button>
                <button class="btn btn-outline btn-sm red table-group-action-submit" data-table-group-action="delete"><i class="fa fa-close"></i> Delete</button>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable data-ajax-list" id="scaleway-processes" action="{echo $app['base_url']}/scaleway-instances/get-processes.html">
                <thead>
                    <tr role="row" class="heading">
                        <th width="2%">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#scaleway-processes .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th width="5%">Id</th>
                        {echo $columns}
                        <th width="2%"> 
                        </th>
                    </tr>
                    <tr role="row" class="filter">
                        <td>
                            <div class="margin-bottom-5" style="text-align: center;padding-top:8px;">
                                <a class="font-red filter-cancel margin-bottom"><i class="fa fa-eraser" style="font-size:13px"></i></a>
                            </div>
                        </td>
                        <td><input type="text" class="form-control form-filter input-sm" name="id"></td>
                        {echo $filters}
                        <td>
                            <div class="margin-bottom-5" style="text-align: center;padding-top:8px;">
                                <a class="font-dark filter-submit margin-bottom"><i class="fa fa-filter" style="font-size:13px"></i></a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody> 

                </tbody>
            </table>
        </div>
    </div>
</div>