<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Add New Smtp Server</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="smtp-servers-form" action="{echo $app['base_url']}/smtp-servers/save.html" class="horizontal-form validate" method="POST">
            <div class="form-body">
                <h4 class="caption"> Server Info</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Server Name</label>
                            <input id="name" type="text" name="server-name" class="form-control" data-required="true" data-validation-message="Server Name is Required !" placeholder="Enter Server Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Host</label>
                            <input id="main-ip" type="text" name="host" class="form-control" placeholder="Enter Host" data-required="true" data-validation-message="Server Host is Required !">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Smtp Port</label>
                            <input id="ssh-port" type="text" name="port" class="form-control" placeholder="Enter Port" value="25" data-required="true" data-validation-message="Server Port is Required !">
                        </div>
                    </div>
                   <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Encryption</label>
                            <select class="form-control bs-select" title="Select a Encryption ..." name="encryption">
                                <option value="None" selected >None</option>
                                <option value="SSL">SSL</option>
                                <option value="TLS">TLS</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <select class="form-control bs-select" title="Select a Status ..." name="status">
                                <option value="Activated" selected >Activated</option>
                                <option value="Inactivated">Inactivated</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Server Provider</label>
                            <select id="server-provider" class="form-control bs-select" name="server-provider" data-required="true" data-validation-message="Server Provider is Required !" title="Select a Server Provider ..."> 
                                {if(isset($serversProviders) && count($serversProviders)>0)}
                                    {foreach $row in $serversProviders}
                                        <option value="{echo $row['id']}">{echo $row['name']}</option>
                                    {/foreach}
                                {/if}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"> 
                            <label class="control-label">Expiration Date</label>
                            <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
                                <input id="expiration-date" type="text" class="form-control" value="{echo date('Y-m-d', strtotime('+1 month'))}" readonly name="expiration-date" data-required="true" data-validation-message="Expiration Date is Required !">
                                <span class="input-group-btn">
                                    <button class="btn btn-outline default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="caption"> Default SMTP User Info</h4>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <input id="username" type="text" name="username" class="form-control" placeholder="Enter Username">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input id="password" type="password" name="password" class="form-control" placeholder="Enter Password">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Proxy Ip</label>
                            <input id="proxy-ip" type="text" name="proxy-ip" class="form-control" placeholder="Enter Proxy Ip">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label class="control-label">Proxy Port</label>
                            <input id="proxy-port" type="text" name="proxy-port" class="form-control input-number" placeholder="Enter Port">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Proxy Username</label>
                            <input id="proxy-username" type="text" name="proxy-username" class="form-control" placeholder="Enter Proxy Username">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Proxy Password</label>
                            <input id="proxy-password" type="password" name="proxy-password" class="form-control" placeholder="Enter Proxy Password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
            <a href="javascript:;" class="btn btn-outline dark check-before-submit data-validate" data-columns="name" data-input-ids="server-name" data-model="SmtpServer" data-row-id="0" data-package="Admin"><i class="fa fa-check"></i> Save</a>
            </div>
        </form>
    </div>
</div>