<div class="portlet light portlet-fit portlet-datatable bordered  ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Full Revenue Report</span>
        </div>
        <div class="actions">
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">
            <form id="report-form" action="{echo $app['base_url']}/statistics/full-report.html" class="horizontal-form" method="POST">
                <div class="row">
                    <h4 class="caption" style="margin-left: 10px;">Report Buidler</h4>
                    <div class="col-md-3">
                        <div class="input-group defaultrange pull-right" show-default="false" id="defaultrange">
                            <input type="text" name="date-range" value="{echo $range}" class="form-control" readonly>
                            <span class="input-group-btn">
                                <button class="btn btn-outline default date-range-toggle" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"> 
                            <label class="control-label full-width">
                                Available Columns
                                <a class="pull-right tooltips move-selected-columns" data-from="available-columns" data-to="selected-columns" data-container="body" data-placement="top" data-original-title="Move selected columns"  href="javascript:;" style="margin-left: 15px;color :#525e64;"><i class="fa fa-arrow-right"></i></a>
                                <a class="pull-right tooltips deselect-all-options" data-container="body" data-placement="top" data-target=".columns-selection" data-original-title="Deselect all options" href="javascript:;" style="margin-left: 15px;color :#525e64;"><i class="fa fa-ban"></i></a> 
                                <a class="pull-right tooltips select-all-options" data-container="body" data-placement="top" data-target=".columns-selection" data-original-title="Select all options"  href="javascript:;" style="margin-left: 15px;color :#525e64;"><i class="fa fa-list"></i></a>
                            </label>
                            <select id="available-columns" class="form-control columns-selection select-actions" multiple="multiple" name="available-columns[]"  style="height: 300px !important;">  
                                {if(!in_array('mailer',$cols))} <option value="mailer">Mailer</option> {/if}
                                {if(!in_array('isp',$cols))} <option value="isp">ISP</option> {/if}
                                {if(!in_array('process_id',$cols))} <option value="process_id">Process Id</option> {/if}
                                {if(!in_array('server',$cols))} <option value="server">Server</option> {/if}
                                {if(!in_array('vmta',$cols))} <option value="vmta">Vmta</option> {/if}
                                {if(!in_array('affiliate_network',$cols))} <option value="affiliate_network">Affiliate Network</option> {/if}
                                {if(!in_array('offer',$cols))} <option value="offer">Offer</option> {/if}
                                {if(!in_array('data_list',$cols))} <option value="data_list">List</option> {/if}
                                {if(!in_array('team',$cols))} <option value="team">Team</option> {/if}
                                {if(!in_array('sent',$cols))} <option value="sent">Sent</option> {/if}
                                {if(!in_array('delivered',$cols))} <option value="delivered">Delivered</option> {/if}
                                {if(!in_array('hard_bounced',$cols))} <option value="hard_bounced">Bounced</option> {/if}
                                {if(!in_array('opens',$cols))} <option value="opens">Opens</option> {/if}
                                {if(!in_array('clicks',$cols))} <option value="clicks">Clicks</option> {/if}
                                {if(!in_array('leads',$cols))} <option value="leads">Leads</option> {/if}
                                {if(!in_array('unsubs',$cols))} <option value="unsubs">Unsubs</option> {/if}
                                {if(!in_array('epc',$cols))} <option value="epc">EPC</option> {/if}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group"> 
                            <label class="control-label full-width">
                                <a class="pull-left tooltips move-selected-columns" data-from="selected-columns" data-to="available-columns" data-container="body" data-placement="top" data-original-title="Move selected columns"  href="javascript:;" style="margin-right: 15px;color :#525e64;"><i class="fa fa-arrow-left"></i></a>
                                <a class="pull-left tooltips deselect-all-options" data-container="body" data-placement="top" data-target=".columns-selection" data-original-title="Deselect all options" href="javascript:;" style="margin-right: 15px;color :#525e64;"><i class="fa fa-ban"></i></a> 
                                <a class="pull-left tooltips select-all-options" data-container="body" data-placement="top" data-target=".columns-selection" data-original-title="Select all options"  href="javascript:;" style="margin-right: 15px;color :#525e64;"><i class="fa fa-list"></i></a>
                                <a class="pull-left tooltips move-option-vert" data-container="body" data-placement="top" data-target="selected-columns" data-dir="up" data-original-title="Move option Up"  href="javascript:;" style="margin-right: 15px;color :#525e64;"><i class="fa fa-arrow-up"></i></a>
                                <a class="pull-left tooltips move-option-vert" data-container="body" data-placement="top" data-target="selected-columns" data-dir="down" data-original-title="Move option Down"  href="javascript:;" style="margin-right: 15px;color :#525e64;"><i class="fa fa-arrow-down"></i></a>
                                Selected Columns
                            </label>
                            <select id="selected-columns" class="form-control columns-selection select-actions" multiple="multiple" name="selected-columns[]"  style="height: 300px !important;">  
                                {if(in_array('mailer',$cols))} <option value="mailer" selected>Mailer</option> {/if}
                                {if(in_array('isp',$cols))} <option value="isp" selected >ISP</option> {/if}
                                {if(in_array('process_id',$cols))} <option value="process_id" selected >Deploy Id</option> {/if}
                                {if(in_array('server',$cols))} <option value="server" selected >Server</option> {/if}
                                {if(in_array('vmta',$cols))} <option value="vmta" selected >Vmta</option> {/if}
                                {if(in_array('affiliate_network',$cols))} <option value="affiliate_network" selected >Affiliate Network</option> {/if}
                                {if(in_array('offer',$cols))} <option value="offer" selected >Offer</option> {/if}
                                {if(in_array('data_list',$cols))} <option value="data_list" selected >List</option> {/if}
                                {if(in_array('team',$cols))} <option value="team" selected >Team</option> {/if}
                                {if(in_array('sent',$cols))} <option value="sent" selected >Sent</option> {/if}
                                {if(in_array('delivered',$cols))} <option value="delivered" selected >Delivered</option> {/if}
                                {if(in_array('hard_bounced',$cols))} <option value="hard_bounced" selected >Bounced</option> {/if}
                                {if(in_array('opens',$cols))} <option value="opens" selected >Opens</option> {/if}
                                {if(in_array('clicks',$cols))} <option value="clicks" selected >Clicks</option> {/if}
                                {if(in_array('leads',$cols))} <option value="leads" selected >Leads</option> {/if}
                                {if(in_array('unsubs',$cols))} <option value="unsubs" selected >Unsubs</option> {/if}
                                {if(in_array('epc',$cols))} <option value="epc" selected >EPC</option> {/if}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions pull-right">
                    <a href="javascript:;" id="submit-report" class="btn btn-outline blue"><i class="fa fa-terminal"></i> Run Report</a>
                </div>
            </form>
            <div class="table-actions-wrapper">
            </div>
            <h4 class="caption" style="margin-left: 10px;">Report Result</h4>
            <table class="table table-striped table-bordered table-hover table-checkable data-ajax-list" id="conversions" page="50" total="{echo $total}" total-type="float" sign="$" action="{echo $app['base_url']}/statistics/get-full-report.html?dts={echo urlencode(base64_encode($startDate))}&dte={echo urlencode(base64_encode($endDate))}&cols={echo urlencode(base64_encode(json_encode($cols)))}">
                <thead>
                    <tr role="row" class="heading">
                        <th style="width: 0.1% !important">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#conversions .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        {echo $columns}
                        <th style="width: 0.1%"> 
                        </th>
                    </tr>
                    <tr role="row" class="filter">
                        <td>
                            <div class="margin-bottom-5" style="text-align: center;padding-top:8px;">
                                <a class="font-red filter-cancel margin-bottom"><i class="fa fa-eraser" style="font-size:13px"></i></a>
                            </div>
                        </td>
                        {echo $filters}
                        <td>
                            <div class="margin-bottom-5" style="text-align: center;padding-top:8px;">
                                <a class="font-dark filter-submit margin-bottom"><i class="fa fa-filter" style="font-size:13px"></i></a>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody> 

                </tbody>
                <tfoot> 
                    <tr>{echo $footer}</tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>