<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Edit Atlantic Account <span class="bold">{echo $account['name']}</span></span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="atlantic-accounts-form" action="{echo $app['base_url']}/atlantic-accounts/save.html" class="horizontal-form validate" method="POST">
            <input type="hidden" name="id" value="{echo $account['id']}"/>
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Atlantic Account Name</label>
                            <input type="text" name="atlantic-name" class="form-control" data-required="true" data-validation-message="Atlantic Account Name is Required !" placeholder="Enter Atlantic Account Name" value="{echo $account['name']}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Account Status</label>
                            <select class="form-control bs-select" title="Select a Status ..." name="atlantic-status">
                                <option value="Activated" {if($account['status'] == 'Activated')} selected {/if} >Activated</option>
                                <option value="Inactivated" {if($account['status'] == 'Inactivated')} selected {/if} >Inactivated</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Atlantic Access Key</label>
                            <input type="text" name="atlantic-access-key" class="form-control" data-required="true" data-validation-message="Atlantic Access Key is Required !" placeholder="Enter Atlantic Access Key" value="{echo $account['access_key']}">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Atlantic Private Key</label>
                            <input type="text" name="atlantic-private-key" class="form-control" data-required="true" data-validation-message="Atlantic Private Key is Required !" placeholder="Enter Atlantic Private Key" value="{echo $account['private_key']}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Atlantic Proxy IP</label>
                            <input type="text" name="atlantic-proxy-ip" class="form-control" placeholder="Enter Atlantic Proxy IP (Optional)" value="{echo $account['proxy_ip']}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Atlantic Proxy Port</label>
                            <input type="text" name="atlantic-proxy-port" class="form-control input-number" placeholder="Enter Atlantic Proxy Port (Optional)" value="{echo $account['proxy_port']}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Atlantic Proxy Username</label>
                            <input type="text" name="atlantic-proxy-username" class="form-control" placeholder="Enter Atlantic Proxy Username (Optional)" value="{echo $account['proxy_username']}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Atlantic Proxy Password</label>
                            <input type="text" name="atlantic-proxy-password" class="form-control" placeholder="Enter Atlantic Proxy Password (Optional)" value="{echo $account['proxy_password']}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <a href="javascript:;" class="btn btn-outline dark check-before-submit data-validate" data-columns="name" data-input-ids="atlantic-name" data-model="AtlanticAccount" data-row-id="{echo $account['id']}" data-package="Admin"><i class="fa fa-check"></i> Save</a>
            </div>
        </form>
    </div>
</div>