<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list font-dark"></i>
                    <span class="caption-subject font-dark uppercase">Edit Management Server : {echo $server['name']}</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form id="servers-form" action="{echo $app['base_url']}/management-servers/save.html" class="horizontal-form validate" method="POST" enctype="multipart/form-data">
                    <input id="server-id" type="hidden" name="id" value="{echo $server['id']}"/>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Server Name</label>
                                    <input id="server-name" type="text" name="server-name" class="form-control" placeholder="Enter Server Name" value="{echo $server['name']}" data-required="true" data-validation-message="Server Name is Required !"> 
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <select class="form-control bs-select" title="Select a Status ..." name="server-status">
                                        <option value="Activated" {if($server['status'] == 'Activated')} selected {/if} >Activated</option>
                                        <option value="Inactivated" {if($server['status'] == 'Inactivated')} selected {/if} >Inactivated</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Server Provider</label>
                                    <select id="server-provider" class="form-control bs-select" title="Select a Server Provider ..." name="server-provider" data-required="true" data-validation-message="Server Provider is Required !"> 
                                         {if(isset($serversProviders) && count($serversProviders)>0)}
                                            {foreach $row in $serversProviders}
                                                <option value="{echo $row['id']}" {if($server['provider_id'] == $row['id'])} selected {/if}>{echo $row['name']}</option>
                                            {/foreach}
                                        {/if}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group"> 
                                    <label class="control-label">Expiration Date</label>
                                    <div class="input-group date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
                                        <input id="server-expiration-date" type="text" class="form-control" readonly name="expiration-date" value="{echo $server['expiration_date']}" data-required="true" data-validation-message="Expiration Date is Required !">
                                        <span class="input-group-btn">
                                            <button class="btn btn-outline default" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Hostname</label>
                                    <input id="server-main-host" type="text" name="host-name" class="form-control" placeholder="Enter Hostname" value="{echo $server['host_name']}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Main IP</label>
                                    <input id="server-main-ip" type="text" name="server-ip" class="form-control" placeholder="Enter Main IP" value="{echo $server['main_ip']}" data-required="true" data-validation-message="Server Main IP is Required !">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">SSH Port</label>
                                    <input id="server-ssh-port" type="text" name="server-ssh-port" class="form-control" placeholder="Enter Port" value="{echo $server['ssh_port']}" data-required="true" data-validation-message="Server SSH Port is Required !">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Login Type</label>
                                    <select id="server-login-type" class="form-control bs-select" title="Select a Login Type ..." name="server-login-type">
                                        <option value="user-pass" {if($server['ssh_login_type'] == 'user-pass')} selected {/if} >Username/Password</option>
                                        <option value="pem" {if($server['ssh_login_type'] == 'pem')} selected {/if}>Pem File</option>
                                        <option value="key-pairs" {if($server['ssh_login_type'] == 'key-pairs')} selected {/if}>Public & Private Key</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Username</label>
                                    <input id="server-username" type="text" name="server-username" class="form-control" placeholder="Enter Username" data-required="true" data-validation-message="Server SSH User is Required !" value="{echo $server['ssh_username']}">
                                </div>
                            </div>
                            <div class="col-md-6 srv-user-pass {if($server['ssh_login_type'] != 'user-pass')} hide {/if}">
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input id="server-password" type="text" name="server-password" class="form-control" placeholder="Enter Password" value="{echo $server['ssh_password']}">
                                </div>
                            </div>
                            <div class="col-md-2 srv-passphrase {if($server['ssh_login_type'] != 'key-pairs' && $server['ssh_login_type'] != 'pem')} hide {/if}">
                                <div class="form-group">
                                    <label class="control-label">Passphrase</label>
                                    <input id="server-private-key" type="text" name="server-passphrase" class="form-control" placeholder="Enter Passphrase ( Optional )">
                                </div>
                            </div>
                            <div class="col-md-2 srv-pem {if($server['ssh_login_type'] != 'pem')} hide {/if}">
                                <div class="form-group">
                                    <label class="control-label">PEM File</label>
                                    <br/>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-outline dark btn-file">
                                            <span class="fileinput-new"> Select PEM File </span>
                                            <span class="fileinput-exists"> Change </span>
                                            <input id="pem-file" type="file" name="server-pem-file"> 
                                        </span>
                                        <span class="fileinput-filename"> </span> &nbsp;
                                        <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 srv-key {if($server['ssh_login_type'] != 'key-pairs')} hide {/if}">
                                <div class="form-group">
                                    <label class="control-label">Private Key</label>
                                    <br/>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-outline dark btn-file">
                                            <span class="fileinput-new"> Select Private Key File </span>
                                            <span class="fileinput-exists"> Change </span>
                                            <input id="private-key-file" type="file" name="server-private-key"> 
                                        </span>
                                        <span class="fileinput-filename"> </span> &nbsp;
                                        <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 srv-key {if($server['ssh_login_type'] != 'key-pairs')} hide {/if}">
                                <div class="form-group">
                                    <label class="control-label">Public Key</label>
                                    <br/>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-outline dark btn-file">
                                            <span class="fileinput-new"> Select Public Key File </span>
                                            <span class="fileinput-exists"> Change </span>
                                            <input id="public-key-file" type="file" name="server-public-key"> 
                                        </span>
                                        <span class="fileinput-filename"> </span> &nbsp;
                                        <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <a href="javascript:;" class="btn btn-outline dark check-before-submit data-validate" data-columns="name|main_ip" data-input-ids="server-name|server-ip" data-model="ManagementServer" data-row-id="{echo $server['id']}" data-package="Admin"><i class="fa fa-check"></i> Save</a>
                        <a href="javascript:;" class="btn btn-outline dark check-management-server" server-id="{echo $server['id']}"><i class="fa fa-refresh"></i> Check Server</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>