<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Add New Header</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="headers-form" action="{echo $app['base_url']}/headers/save.html" class="horizontal-form validate" method="POST">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Header Name</label>
                            <input type="text" name="name" class="form-control" data-required="true" data-validation-message="Header Name is Required !" placeholder="Enter Header Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Header Content</label>
                            <textarea id="headers-names" name="header" class="form-control" style="height: 250px!important" data-required="true" data-validation-message="Header Contentis Required !"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <a href="javascript:;" class="btn btn-outline dark check-before-submit data-validate" data-columns="name" data-input-ids="name" data-model="Header" data-row-id="0" data-package="Production"><i class="fa fa-check"></i> Save</a>  
            </div>
        </form>
    </div>
</div>