<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list font-dark"></i>
            <span class="caption-subject font-dark uppercase">Edit Vultr Account <span class="bold">{echo $account['name']}</span></span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="vultr-accounts-form" action="{echo $app['base_url']}/vultr-accounts/save.html" class="horizontal-form validate" method="POST">
            <input type="hidden" name="id" value="{echo $account['id']}"/>
            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Vultr Account Name</label>
                            <input type="text" name="vultr-name" class="form-control" data-required="true" data-validation-message="Vultr Account Name is Required !" placeholder="Enter Vultr Account Name" value="{echo $account['name']}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Account Status</label>
                            <select class="form-control bs-select" title="Select a Status ..." name="vultr-status">
                                <option value="Activated" {if($account['status'] == 'Activated')} selected {/if} >Activated</option>
                                <option value="Inactivated" {if($account['status'] == 'Inactivated')} selected {/if} >Inactivated</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Vultr Api key</label>
                            <input type="text" name="vultr-token" class="form-control" data-required="true" data-validation-message="Vultr Api key is Required !" placeholder="Enter Vultr Api key" value="{echo $account['token']}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Vultr Proxy IP</label>
                            <input type="text" name="vultr-proxy-ip" class="form-control" placeholder="Enter Vultr Proxy IP (Optional)" value="{echo $account['proxy_ip']}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Vultr Proxy Port</label>
                            <input type="text" name="vultr-proxy-port" class="form-control input-number" placeholder="Enter Vultr Proxy Port (Optional)" value="{echo $account['proxy_port']}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Vultr Proxy Username</label>
                            <input type="text" name="vultr-proxy-username" class="form-control" placeholder="Enter Vultr Proxy Username (Optional)" value="{echo $account['proxy_username']}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Vultr Proxy Password</label>
                            <input type="text" name="vultr-proxy-password" class="form-control" placeholder="Enter Vultr Proxy Password (Optional)" value="{echo $account['proxy_password']}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions right">
                <a href="javascript:;" class="btn btn-outline dark check-before-submit data-validate" data-columns="name" data-input-ids="vultr-name" data-model="VultrAccount" data-row-id="{echo $account['id']}" data-package="Admin"><i class="fa fa-check"></i> Save</a>
            </div>
        </form>
    </div>
</div>