<div id="send-process-contextual-menu">
    <ul class="dropdown-menu pull-left" role="menu">
        <li>
            <a href="javascript:;" class="send-drop-trigger"><i class="fa fa-paper-plane"></i> Send Drop</a>
        </li>
        <li>
            <a href="javascript:;" class="send-test-all-trigger"><i class="fa fa-flask"></i> Test All</a>
        </li>
        <li>
            <a href="javascript:;" class="send-test-servers-trigger"><i class="fa fa-cubes"></i> Test Servers</a>
        </li>
        <li>
            <a href="javascript:;" class="send-test-ips-trigger"><i class="fa fa-cube"></i> Test IP</a>
        </li>
        <li>
            <a href="javascript:;" class="send-test-emails-trigger"><i class="fa fa-at"></i> Test Emails</a>
        </li>
        <li>
            <a href="javascript:;" class="pmta-monitors-trigger"><i class="fa fa-cogs"></i> Pmta Management</a> 
        </li> 
        <li>
            <a href="javascript:;" class="generate-links"><i class="fa fa-link"></i> Generate Links</a>
        </li>
        <li>
            <a href="javascript:;" class="send-help"><i class="fa fa-life-bouy"></i> Help</a>
        </li>
    </ul>
</div>

<div id="pmta-contextual-menu">
    <ul class="dropdown-menu pull-left" role="menu">
        <li>
            <a href="javascript:;" class="show-pmta" data-type="clicked"><i class="fa fa-cog"></i> Show Pmta</a>
        </li>
        <li>
            <a href="javascript:;" class="show-pmta" data-type="selected"><i class="fa fa-cogs"></i> Show Selected Servers Pmta</a>
        </li>
        <li>
            <a href="javascript:;" class="show-pmta" data-type="all"><i class="fa fa-cogs"></i> Show All Pmtas</a>
        </li>
    </ul>
</div>