<nav class="quick-nav" style="top: 67%;">
    <a class="quick-nav-trigger" href="javascript:;">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <a href="javascript:;" class="send-drop-trigger"><span>Send Drop</span><i class="fa fa-paper-plane"></i></a>
        </li>
        <li>
            <a href="javascript:;" class="send-test-all-trigger"><span>Test All</span><i class="fa fa-flask"></i></a>
        </li>
        <li>
            <a href="javascript:;" class="send-test-servers-trigger"><span>Test Servers</span><i class="fa fa-cubes"></i></a>
        </li>
        <li> 
            <a href="javascript:;" class="send-test-ips-trigger"><span>Test IP</span><i class="fa fa-cube"></i></a>
        </li>
        <li>
            <a href="javascript:;" class="send-test-emails-trigger"><span>Test Emails</span><i class="fa fa-at"></i></a>
        </li>
        <li>
            <a href="javascript:;" class="pmta-monitors-trigger"><span>Pmta Management</span><i class="fa fa-cogs"></i></a> 
        </li> 
        <li>
            <a href="javascript:;" class="generate-links"><span>Generate Links</span><i class="fa fa-link"></i></a>
        </li>
        <li>
            <a href="javascript:;" class="send-help"><span>Help</span><i class="fa fa-life-bouy"></i></a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="quick-nav-overlay"></div>