<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-equalizer font-dark"></i>
            <span class="caption-subject font-dark uppercase">Application Backend Logs</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form id="logs-form" action="" class="horizontal-form" method="POST">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Logs</label>
                            <textarea id="logs" class="form-control" style="height: 600px!important">{echo $logs}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>